body{
    background: black;
}
#container{
   font-size: 25px;
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#canvas1{
    position: relative;
    width: 800px;
    height: 700;
}
#slider{
    width: 100%;
}
p{
    color: white;

}
